* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  position: relative;
}
.container .block {
  background: #915071;
  float: left;
  width: 20%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .block:nth-child(even) {
  background: #225f77;
}
.nav-button-1,
.nav-button-2,
.nav-button-3,
.nav-button-4 {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.nav-button-1 line,
.nav-button-2 line,
.nav-button-3 line,
.nav-button-4 line {
  position: relative;
  stroke: #fff;
  stroke-width: 4px;
  transition: transform .3s;
}
.nav-button-1 line:nth-child(1) {
  transform-origin: 10px 15px;
}
.nav-button-1 line:nth-child(3) {
  transform-origin: 10px 55px;
}
.nav-button-1:hover line:nth-child(1) {
  transform: rotate(39deg) scaleX(1.25);
}
.nav-button-1:hover line:nth-child(2) {
  transform: translateX(-60px);
}
.nav-button-1:hover line:nth-child(3) {
  transform: rotate(-39deg) scaleX(1.25);
}
.nav-button-2 line:nth-child(2),
.nav-button-2 line:nth-child(3) {
  transform-origin: 35px 35px;
}
.nav-button-2:hover line:nth-child(2) {
  transform: rotate(-43deg);
}
.nav-button-2:hover line:nth-child(3) {
  transform: rotate(43deg);
}
.nav-button-2:hover line:nth-child(1) {
  transform: translateX(-70px);
}
.nav-button-2:hover line:nth-child(4) {
  transform: translateX(70px);
}
.nav-button-3 line:nth-child(1) {
  transform-origin: 10px 15px;
  transition: transform .2s;
}
.nav-button-3 line:nth-child(2) {
  transform-origin: 60px 15px;
  transition: transform .2s .2s;
}
.nav-button-3 line:nth-child(5) {
  transform-origin: 35px 35px;
  z-index: 5;
  transition: transform .2s .9s;
}
.nav-button-3 line:nth-child(3) {
  transform-origin: 10px 55px;
  transition: transform .2s .4s;
}
.nav-button-3 line:nth-child(4) {
  transform-origin: 60px 55px;
  transition: transform .2s .6s;
}
.nav-button-3:hover line:nth-child(1) {
  transform: rotate(38deg) scaleX(1.25);
}
.nav-button-3:hover line:nth-child(2) {
  transform: rotate(-38deg) scaleX(1.25);
}
.nav-button-3:hover line:nth-child(5) {
  transform: scaleX(0.2) scaleY(1.2);
}
.nav-button-3:hover line:nth-child(3) {
  transform: rotate(-38deg) scaleX(1.25);
}
.nav-button-3:hover line:nth-child(4) {
  transform: rotate(38deg) scaleX(1.25);
}
.nav-button-4 line:nth-child(1) {
  transform-origin: 35px 15px;
  transition: transform .2s;
}
.nav-button-4 line:nth-child(2) {
  transform-origin: 52px 35px;
  transition: transform .2s .4s;
}
.nav-button-4 line:nth-child(3) {
  transform-origin: 35px 55px;
  transition: transform .2s;
}
.nav-button-4 line:nth-child(4) {
  transform-origin: 14px 13px;
  transition: transform .2s .2s;
}
.nav-button-4 line:nth-child(5) {
  transform-origin: 56px 57px;
  transition: transform .2s .2s;
}
.nav-button-4 line:nth-child(6) {
  transform-origin: 50px 35px;
  transition: transform .2s .7s;
}
.nav-button-4 line:nth-child(7) {
  transform-origin: 50px 35px;
  transition: transform .2s .7s;
}
.nav-button-4:hover line:nth-child(1),
.nav-button-4:hover line:nth-child(2),
.nav-button-4:hover line:nth-child(3) {
  transform: scaleX(0.8);
}
.nav-button-4:hover line:nth-child(4),
.nav-button-4:hover line:nth-child(5) {
  transform: scaleY(11);
}
.nav-button-4:hover line:nth-child(6) {
  transform: rotate(-45deg) translateX(1px);
}
.nav-button-4:hover line:nth-child(7) {
  transform: rotate(45deg) translateX(1px);
}
